{% extends "blog/base.html" %}
{% load blog_tags %}

{% block title %} My Blog {% endblock  %}


{% block content %}
  <h1 class="text-4xl pt-6 border-b-4 pb-4 ">
    My Blog
  </h1>
  {% if tag %}
    <h2>Posts tagged with "{{ tag.name }}"</h2>
  {% endif %}
  {% for post in posts %}
    <h2 class="text-3xl text-blue-400 font-bold pt-6">
      <a  href="{{ post.get_absolute_url }}">
      {{ post.title }}
      </a>
    </h2>
    <p class="tags">
      Tags:
      {% for tag in post.tags.all %}
        <a class="text-blue-600" href="{% url "blog:post_list_by_tag" tag.slug %}">
          {{ tag.name }}
        </a>
        {% if not forloop.last %}, {% endif %}
      {% endfor %}
    </p>
    <p class="text-sm italic text-neutral-300 my-4">
      Published {{ post.publish }} by {{ post.author }}
    </p>
    <article class="text-2xl">
      {{ post.body|markdown|truncatewords_html:30 }}
    </article>
    
  {% endfor %}
  {% include "pagination.html" with page=posts %}
{% endblock content %}